
@{
    ViewBag.Title = "Index";
}
<body>
    <link rel="stylesheet" href="~/Content/design.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <div class="slider">
        <div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Images/image_2.jpg" class="d-block w-100" style="height: 79%">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/nrd-D6Tu_L3chLE-unsplash.jpg" class="d-block w-100" style="height: 79%">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/rebelle-fleur-0BaEdsR8IRY-unsplash.jpg" class="d-block w-100" style="height: 79%">
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#slider" data-slide-to="0" class="active"></li>
                <li data-target="#slider" data-slide-to="1"></li>
                <li data-target="#slider" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</body>